<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Socket.io</title>
</head>
<body>
    <h3>Khoa Pham 123</h3>
    <button id="btnSend">Send</button>
</body>
</html>
<script src="reload/reload.js"></script>
<script src="socket.io/socket.io.js"></script>
<script src="jquery.js"></script>
<script src="playground.js"></script>
