<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Socket.io</title>
    <style>
        .active { color: red; }
    </style>
</head>
<body>
    <div id="divSignIn">
        <input type="text" id="txtUsername" placeholder="Enter your username">
        <button id="btnSignIn">Sign in</button>
    </div>
    <div id="divChat">
        <input type="text" id="txtMessage" placeholder="Enter your message">
        <button id="btnSend">Send</button>
        <button id="btnSendPrivate">Send Private</button>
        <ul id="ulMessages">
        </ul>
        <hr>
        <ul id="ulUsers"></ul>
    </div>
</body>
</html>
<script src="reload/reload.js"></script>
<script src="socket.io/socket.io.js"></script>
<script src="jquery.js"></script>
<script src="main.js"></script>
<!-- <script src="playground.js"></script> -->
